.custom-radio-button .mat-radio-outer-circle {
    width: 240px; /* Adjust the width and height to match the desired size */
    height: 240px;
  }
  
  .custom-radio-button .mat-radio-inner-circle {
    width: 120px; /* Adjust the width and height to match the desired size */
    height: 120px;
  }
  .box{
    box-shadow: #000000 0px 5px 15px;
    padding: 15px;
}