<app-navbar routerLink="/" [title]="'Shop With Uday' " [subtitle]="'Uday Store'" [logoUrl]="
    'https://res.cloudinary.com/ddkso1wxi/image/upload/v1675919455/Logo/Copy_of_Zosh_Academy_nblljp.png'
  ">
  <button (click)="navigateTo('cart')" mat-icon-button color="" aria-label="Example icon button with a menu icon">
    <mat-icon>shopping_cart</mat-icon>
  </button>
  <button *ngIf="!userProfile" class="w-full" (click)="openLoginModal()" type="submit" mat-raised-button color="accent">
    LOGIN
  </button>

  <div *ngIf="userProfile" class="relative ml-3 flex items-center">
    <div class="flex items-center space-x-5">
      <span class="font-bold text-lg tracking-wider">
        {{ userProfile?.firstName }}
        {{ userProfile?.lastName }}
      </span>

      <button mat-button [matMenuTriggerFor]="menu">
        <img class="h-8 w-8 rounded-full object-cover object-top"
          src="https://cdn.pixabay.com/photo/2023/08/02/23/36/ai-generated-8166028_640.jpg" alt="" />
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Profile</button>
        <button (click)="navigateTo('account/orders')" mat-menu-item>
          Orders
        </button>
        <button *ngIf="userProfile.role == 'ADMIN'" (click)="navigateTo('/admin')" mat-menu-item>
          Admin Dashboard
        </button>
        <button (click)="handleLogout()" mat-menu-item>Logout</button>
      </mat-menu>
    </div>
  </div>
</app-navbar>
<!-- <app-products></app-products> -->
<router-outlet></router-outlet>
<app-footer></app-footer>