<div class="header">
    <div class="logo">
        <div class="logo-image">
            <a href="#">
                <img [src]="logoUrl" alt="Logo" />
            </a>
        </div>
        <div class="title">
            <h1>{{ title }}</h1>
            <h5>{{ subtitle }}</h5>
        </div>
    </div>
    <div class="menu">
        <ul>
            <li *ngFor="let item of menuItems">{{ item }}</li>
        </ul>
    </div>
    <div class="custom-content">
        <ng-content></ng-content>
    </div>
</div>