.preview-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;
}

.preview img {
    margin-bottom: 5px;
}